* {
  margin: 0;
  font-family: 'Arvo', serif;
  font-style: italic;
  color: #ffaf1b;
  background-color: #210002;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav {
  height: 40px;
  background-color: #7b271b;
}

.keyart {
  background-color: #FFAF1B;
  height: 100vh;
}

.maincontainer{
  
}

footer {
  padding-bottom: 20px;
  text-align: center;
}
.container {
  height: 100vh;
} 