* {
  margin: 0;
  font-family: 'Arvo', serif;
  font-style: italic;
  color: #ffaf1b;
  background-color: #210002;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;   /* Medium typeface */
  font-style: normal;
}
.hexagon-web ,.hexagon-mob {

  position: relative;
  color: #FFE473;
}
.hex-mob-icon {
  font-size: 30px;
  background-color: transparent;
  position: absolute;
  left: 15px;
  line-height: 60px; 
}
.hex-fill {
  fill: #993A1B;
}
.hexagon-mob {
  display: none;
}

.hex-web-icon {
  font-size: 60px;
  background-color: transparent;
  position: absolute;
  left: 30px;
  line-height: 120px; 
}

.hexagon:hover {
  fill:  #D86D1B;
}

nav {
  height: 40px;
  position: fixed;
  overflow: hidden;
  margin-left: 30vw;
  bottom: 0;
  width: 40vw;
  background-color: #7b271b;
  text-align: center;
}
.nav-link, .nav-icon {
  background-color: inherit;
  height: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-top: 10px;
  width: 7vw;
}

.nav-icon {
  display: none;
}

.nav-link:hover, .nav-icon:hover{
  background-color: #D86D1B;
}

.keyart {
  background-color: #FFAF1B;
  height: 100vh;
}

.fas {
  background-color: inherit;
}

.maincontainer{
  
}

footer p {
  padding-bottom: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #973700;
}
.container {
  height: 100vh;
} 

/* tablet landscape */
@media only screen and (max-width: 1050px) {
  nav {
    margin-left: 0;
    width: 100vw;
  }

  .nav-link {
    width: 19vw;
  }
}

/* Phone */
@media only screen and (max-width: 500px){
  .nav-link {
    display: none;
  }
  .nav-icon {
    display: inline-block;
    width: 19vw;
  }

  .hexagon-web {
    display: none;
  }

  .hexagon-mob {
    display: block;
  }
}