* {
  margin: 0;
  font-family: 'Arvo', serif;
  font-style: italic;
  color: #ffaf1b;
  background-color: #210002;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav {
  height: 40px;
  background-color: #7b271b;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.nav-link {
  display: inline-block;
  text-align: center;
  background-color: inherit;
  text-decoration: none;
  width:80px;
  height: inherit;
  padding: 10px;
}

.nav-link:hover {
  background-color: #D86D1B;
}

.keyart {
  background-color: #FFAF1B;
  height: 100vh;
}

.maincontainer{
  
}

footer p {
  padding-bottom: 20px;
  margin-bottom: 40px;
  text-align: center;
  color: #973700;
}
.container {
  height: 100vh;
} 